# docker-compose down && docker-compose up

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.0
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - type: bind
        source: ./elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
      discovery.type: single-node
      network.publish_host: _eth0_
    networks:
      - elk

  logstash:
#    image: logstash-8-s3:latest
    image: docker.elastic.co/logstash/logstash:8.17.0
    ports:
      - "5044:5044"
      - "5000:5000"
      - "9600:9600"
    volumes:
      - type: bind
        source: ./logstash.yml
        target: /usr/share/logstash/config/logstash.yml
        read_only: true
      - type: bind
        source: ./logstash.conf
        target: /usr/share/logstash/pipeline/logstash.conf
        read_only: true  
    environment:
      LS_JAVA_OPTS: "-Xmx1g -Xms1g"
    networks:
      - elk

  filebeat:
    user: root
    image: docker.elastic.co/beats/filebeat:8.17.0
    depends_on:
      - logstash
    volumes:
      - type: bind
        source: ./filebeat.yml
        target: /usr/share/filebeat/filebeat.yml
      - type: bind
        source: ./logs/m6-elk.log
        target: /usr/share/filebeat/m6-elk.log
    command: ["--strict.perms=false"]
    networks:
      - elk

  kibana:
    image: docker.elastic.co/kibana/kibana:8.17.0
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    volumes:
      - type: bind
        source: ./kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true    
    networks:
      - elk

networks:
  elk:
    driver: bridge